<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Sign in</h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control rounded-0" id="email" name="email" required
                   [(ngModel)]="userData.email"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control rounded-0" id="password" name="password" required
                   [(ngModel)]="userData.password"/>
          </div>
          <button type="button" class="btn btn-success float-right" (click)="signIn()">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
