<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Eventhub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngClass]="[navbarState, 'navbar-collapse']" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/events']" routerLinkActive="active">Events</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/special-events']" routerLinkActive="active">Members</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/signin']" routerLinkActive="active" *ngIf="!signedInUser()">Sign in</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/signup']" routerLinkActive="active" *ngIf="!signedInUser()">Sign up</a></li>
      <li class="nav-item"><a class="nav-link" style="cursor: pointer" *ngIf="signedInUser()" (click)="signOut()">Sign out</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
